@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Jua');

* {
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, #fdf2f1, #faecfc);
}

.container{
  width:400px;
  margin:0 auto;
  background-color: #fff;
  border-radius:2%;
  box-shadow: 0 10px 15px 0 rgba(58, 3, 30, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.day1{
  padding-top:20px;
  text-align:center;  
}
.day1 h3 {
  font-size: 40px;
  margin: 10px 10px;
  color:#222;
}
.accent{
  margin-left:10px;
	margin-right:10px;
	margin-top:0px;
	font-family: montserrat, sans-serif;
	font-weight:bold;
  font-size: 30px;
  color:rgb(136, 28, 109);
}
.bar {
	width:100%;
	margin:30px auto 0 auto;
	padding-left:15px;
	height:40px;	
	background:rgba(136, 28, 109, 0.5);
	color:#fff;
	font-size: 16px;
	line-height:40px;
}